{% extends 'myportfolio/base.html' %}

{% load static %}

{% block hero %}


<div>
    <hr>
    <h3 id="active">Education</h3>
</div>

{% endblock %}

{% block title %}

<h3 id="education">My path in education</h3>


{% endblock %}


{% block main %}
<div>
    <h1>My Skills</h1>

    <p>HTML</p>
    <div class="container">
        <div class="skills html">90%</div>
    </div>

    <p>CSS</p>
    <div class="container">
        <div class="skills css">80%</div>
    </div>

    <p>JavaScript</p>
    <div class="container">
        <div class="skills js">65%</div>
    </div>

    <p>PHP</p>
    <div class="container">
        <div class="skills php">60%</div>
    </div>

    </body>

    </html>
</div>

{% endblock %}