{% extends 'myportfolio/base.html' %}

{% load static %}


{% block title %}
<div>Testimonials</div>
{% endblock %}


{% block main %}

<div>Luís Matos profile picture
    Luís MatosLuís Matos
    · 1stFirst degree connection
    Solutions Architect | Agile Enthusiast | PhD in Computer ScienceSolutions Architect | Agile Enthusiast | PhD in
    Computer Science
    January 12, 2020, Luís was Rui Pedro’s clientJanuary 12, 2020, Luís was Rui Pedro’s client
    My first interaction with Rui started in December 2015. We were both involved in the SIRO Wholesale project but
    initially, Rui was working on the Application Support team and I was working on the Application Development team.
    Despite different teams with different responsibilities, we were working for the same project/client with one shared
    goal. Since that time, Rui was providing support on the OSS component of the project and he was always very
    pragmatic, professional and detailed oriented on all the activities that he has done.

    Later in August 2017, a single DevOps team was created for the same project meaning that we joined our teams and we
    were now working on the same one. I enjoyed to work with him and it was thanks to him that I was able to learn some
    OSS systems/concepts that were important for me, not only as a developer but also as an operational support
    engineer. Rui is extremely dedicated and with a high sense of responsibility as a professional engineer and as a
    person. Due to his hard work and the number of times that we went for the extra mile he was able to progress in his
    career and became a team leader and later one he was also able to accommodate the Scrum Master role on his team. The
    only way that he was able to accommodate such roles is because Rui is an extremely organized, dedicated, and easy to
    talk to. Communication is a very important soft skill and Rui is good at communicating not only with the team
    colleagues but also with the client. Good communication is halfway to reduce the time to solve a problem or deliver
    new functionalities.

    More recently, I became the "client" of the project and Rui was still managing the DevOps team. We were still
    working for the same project but now I have a different role and a different professional relationship with him.
    Despite this, Rui kept high-quality work as an engineer and as a person. I (and the company where I work) are really
    lucky to have such a dedicated professional engineer working for us with a great sense of humor and easy to speak
    with.

    For all the experience that I had with Rui, I recommend him as a DevOps engineer, team lead, OSS engineer, Scrum
    Master, or any other role in any company. Finding someone with such a particular set of professional technical and
    softs skills is rare and difficult nowadays.My first interaction with Rui started in December 2015. We were both
    involved in the SIRO Wholesale project but initially, Rui was working on the Application Support team and I was
    working on the Application Development team. Despite different teams with different responsibilities, we were
    working for the same project/client with one shared goal. Since that time, Rui was providing support on the OSS
    component of the project and he was always very pragmatic, professional and detailed oriented on all the activities
    that he has done. Later in August 2017, a single DevOps team was created for the same project meaning that we joined
    our teams and we were now working on the same one. I enjoyed to work with him and it was thanks to him that I was
    able to learn some OSS systems/concepts that were important for me, not only as a developer but also as an
    operational support engineer. Rui is extremely dedicated and with a high sense of responsibility as a professional
    engineer and as a person. Due to his hard work and the number of times that we went for the extra mile he was able
    to progress in his career and became a team leader and later one he was also able to accommodate the Scrum Master
    role on his team. The only way that he was able to accommodate such roles is because Rui is an extremely organized,
    dedicated, and easy to talk to. Communication is a very important soft skill and Rui is good at communicating not
    only with the team colleagues but also with the client. Good communication is halfway to reduce the time to solve a
    problem or deliver new functionalities. More recently, I became the "client" of the project and Rui was still
    managing the DevOps team. We were still working for the same project but now I have a different role and a different
    professional relationship with him. Despite this, Rui kept high-quality work as an engineer and as a person. I (and
    the company where I work) are really lucky to have such a dedicated professional engineer working for us with a
    great sense of humor and easy to speak with. For all the experience that I had with Rui, I recommend him as a DevOps
    engineer, team lead, OSS engineer, Scrum Master, or any other role in any company. Finding someone with such a
    particular set of professional technical and softs skills is rare and difficult nowadays.…see more
    Adam Challen profile picture
    Adam ChallenAdam Challen
    · 1stFirst degree connection
    Senior program manager security PMOSenior program manager security PMO
    November 5, 2018, Adam was Rui Pedro’s clientNovember 5, 2018, Adam was Rui Pedro’s client
    I have worked with Rui for 3.5 years, he was the OSS support engineer (and recently promoted to AMO team leader).
    Rui is highly professional, with a positive attitude and will always go above and beyond to ensure results for his
    customers. He is highly knowledgable on many systems, and what he doesn't know he will make the effort to find out.
    I would highly recommend Rui and hope to work with him again in the future.I have worked with Rui for 3.5 years, he
    was the OSS support engineer (and recently promoted to AMO team leader). Rui is highly professional, with a positive
    attitude and will always go above and beyond to ensure results for his customers. He is highly knowledgable on many
    systems, and what he doesn't know he will make the effort to find out. I would highly recommend Rui and hope to work
    with him again in the future.
    Aelton Mota Reis profile picture
    Aelton Mota ReisAelton Mota Reis
    · 1stFirst degree connection
    Sr. Cloud Platform EngineerSr. Cloud Platform Engineer
    October 7, 2017, Aelton worked with Rui Pedro on the same teamOctober 7, 2017, Aelton worked with Rui Pedro on the
    same team
    Rui Correia is a trustworthy colleague and a highly skilled OSS Engineer.
    His willing to go above and beyond the call of duty every day makes him an excellent professional.
    I highly recommend him.</div>

{% endblock %}